:root {
  --DarkBlue-Dark-ModeElements: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --White-Dark-Mode-Text-Light-Mode-Elements: hsl(0, 0%, 100%);
  --white-mode-button-shadow: 0px 0px 6px 1px #c4c4c4;
  --white-mode-neighbour-shadow: 0px 0px 4px 0px #c4c4c4;
  --max-width: 1100px;

  --bbox-shadow: 0px -2px 16px -2px #c4c4c4;
  --primary-blue: #5798eb;
  --primary-button: #0074ba;
  --secondary-button: #ff5b68;
}

body {
  margin: 0;
  box-sizing: 0;
  font-family: "Nunito Sans", sans-serif;
  background: var(--DarkBlue-Dark-ModeElements);
  color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
a {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #fff;
  margin: 1rem;
}

.primary-btn {
  background: var(--primary-button);
}
.secondary-btn {
  background: var(--secondary-button);
}
.grp-logo-btn {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem 0rem 1rem;
}

.grp-logo-btn p {
  font-size: 0.7rem;
  font-weight: 200;
}
.grp-logo-btn .link {
  color: #d8d7d7;
  /* cursor: pointer; */
}

.inputfile {
  position: absolute;
  left: 2%;
  opacity: 0;
  cursor: pointer;
}
.lable-upload {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  display: inline-block;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  max-width: 1200px;
  background-color: var(--Very-Dark-Blue-Dark-Mode-Background);
  margin: auto;
  padding: 2rem;
  /* height: 100vh; */
}
.all-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.user-div {
  display: grid;
  grid-template-rows: 8fr 1fr;
}
.user-div > .upper-part {
  position: relative;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}
.user-div > .upper-part > .tick {
  right: 0;
  border-radius: 0px 10px 0px 0px;
  padding: 0.5rem;
  display: none;
  position: absolute;
  background: var(--primary-blue);
}
.user-div.selected > .upper-part > .tick {
  right: 0;
  border-radius: 0px 10px 0px 0px;
  padding: 0.5rem;
  display: inline-block;
  position: absolute;
  background: var(--primary-blue);
}
/* .user-div > .upper-part::before {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
} */
.user-div > .lower-part {
  background: var(--primary-blue);
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0px 0px 10px 10px;
}

.btn-grp {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.outer-form {
  text-align: center;
  padding: 2rem;
}
.outer-form .inner-form {
  margin-top: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1.5fr 4fr;
}
.outer-form .inner-form .left-pic {
  display: inline;
  /* flex-basis: 100%; */
}
.outer-form .inner-form img {
  max-width: 100%;
}
.outer-form .inner-form .right-portion {
  align-self: center;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 1rem;
  text-align: left;
}
.input-box {
  width: fit-content;
  padding: 1rem 2rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
}
.input-box > input {
  background: var(--Very-Dark-Blue-Dark-Mode-Background);
  border: none;
  color: #fff;
}
.input-box > input::placeholder {
  color: rgba(255, 255, 255, 0.815);
}
.input-box > input:focus {
  outline: none;
}
.label-box {
  padding: 1rem 2rem;
}
.lower-upper {
  display: flex;
  justify-content: space-between;
}
.lower-upper select {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .all-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .outer-form .inner-form {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }
  .outer-form .inner-form .right-portion {
    margin: auto;
    text-align: center;
    grid-gap: 0rem;
    grid-template-columns: 2fr;
    margin-bottom: 1rem;
  }
  .lower-upper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .upload-div {
    margin: auto;
  }
  .lower-upper select {
    margin-top: 1rem;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .all-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
